@import "../css/reset";

$fontFamH: 'Crushed', cursive;
$fontF:  'Dosis', sans-serif;
h1, h2, h3, h4, ul, li, p { font-family: $fontFamH; }

body {
  background-image: url("../img/background.jpg");
    & header#homepage{
      margin:0 auto;
      @media screen and (max-width:600px)  {
        padding-top:1rem;
      }
      @media screen and (min-width:601px)  {
        padding-top:9rem;
      }
      text-align: center;
      & h1 {
        color:white;
        font-size: 3rem;
      }
      & h2 {
        color:white;
        font-size: 2rem;
      }
    }
  & main#homepage{
    @media screen and (max-width:600px)  {
    padding-top:1rem;
    }
    @media screen and (min-width:601px)  {
    padding-top:8rem;
    }
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & figure {
      width:12rem;
      padding: 1rem;
      & figcaption {
          background-color: #222;
          color: #fff;
          font: italic smaller sans-serif;
          padding: 3px;
          text-align: center;
          align-self: flex-end;
      }
      & img {
        width:100%;
      }
    }
  }
  & header#playground{
    height:2rem;
    background-color: #222222;
    width:100%;
    display:flex;
    justify-content: space-between;
    & h1{
     color:white;
      @media screen and (max-width:350px)  {
        font-size: 0.8rem;
      }
      @media screen and (min-width:351px)  {
        font-size: 1.1rem;
      }
     padding-left:0.5rem;
      & #h1Expand0{
        @media screen and (max-width:430px)  {
          display:none;
        }
        @media screen and (min-width:431px)  {
          display:inline-flex;
        }
      }
      & #h1Expand1{
        @media screen and (max-width:530px)  {
          display:none;
        }
        @media screen and (min-width:531px)  {
          display:inline-flex;
        }
      }
      & #h1Expand2{
        @media screen and (max-width:920px)  {
          display:none;
        }
        @media screen and (min-width:921px)  {
          display:inline-flex;
        }
      }
    }
    & ul{
      display: inline-flex;
      list-style-type:none;
      color:white;
      font-size: 1.1rem;
      & li{
        padding-right:0.5rem;
        &#changeLanguage {
          @media screen and (max-width:700px)  {
            display:none;
          }
          @media screen and (min-width:701px)  {
            display:inline-flex;
          }
        }
      }
    }
  }
  & main#playground{
    padding-top:3rem;
    color:white;
    display:flex;
    flex-flow:row wrap;
    & #part1 {
      @media screen and (max-width:836px)  {
        width:100%;
        padding-bottom: 1rem;
      }
      @media screen and (min-width:836px)  {
        width:40%;
      }
      display: flex;
      flex-direction: column;
      & h2{
        @media screen and (max-width:835px)  {
          order:2;
          margin-top:1rem;
        }
        @media screen and (min-width:836px)  {
          order:1;
        }
        margin:0 auto;
        width:80%;
        background-color: #38474EA0;
        height:2rem;
        font-size: 1.2rem;
        border-radius: 40%;
        padding-left: 2rem;
      }
      & h3{
        @media screen and (max-width:835px)  {
          order:3;
        }
        @media screen and (min-width:836px)  {
          order:2;
        }
        margin:0 auto;
        margin-top:1rem;
        margin-bottom:1rem;
        width:80%;
        background-color: #38474EA0;
        height:2rem;
        font-size: 1.2rem;
        border-radius: 40%;
        padding-left: 2rem;
        text-align: center;
      }
      & figure{
        @media screen and (max-width:835px)  {
          order:1;
        }
        @media screen and (min-width:836px)  {
          order:3;
        }
        margin:0 auto;
        width:80%;
        height:35rem;
        font-size: 1.2rem;
        border-radius: 5%;
        padding-left: 2rem;
        & img{
          width:100%;
          height:35rem;
        }
      }
    }
    & #part2 {
      @media screen and (max-width:835px)  {
        width:100%;
      }
      @media screen and (min-width:836px)  {
        width:60%;
      }
      & #keyboard {
        margin:0 auto;
        width:90%;
        display:flex;
        flex-flow: row wrap;
        border-radius: 5%;
        background-color: #38474E90;
        justify-content: space-around;
        & .letter{
          cursor:pointer;
          background-color: #48575EB0;
          font-size: 2rem;
          @media screen and (min-width:0px)  {
            margin:0.8rem;
            padding:0.8rem;
            height:2rem;
            width:1.5rem;
          }
          @media screen and (min-width:800px)  {
            margin:0.8rem;
            padding:0.8rem;
            height:2rem;
            width:1.5rem;
          }
          @media screen and (min-width:1245px)  {
            margin:1rem;
            padding:1rem;
            height:2rem;
            width:2rem;
          }
          text-align: center;
          border-radius: 40%;
        }
        & .letterPickGood{
          cursor:pointer;
          background-color: #079e07B0;
          font-size: 2rem;
          @media screen and (min-width:0px)  {
            margin:0.8rem;
            padding:0.8rem;
            height:2rem;
            width:1.5rem;
          }
          @media screen and (min-width:800px)  {
            margin:0.8rem;
            padding:0.8rem;
            height:2rem;
            width:1.5rem;
          }
          @media screen and (min-width:1245px)  {
            margin:1rem;
            padding:1rem;
            height:2rem;
            width:2rem;
          }
          text-align: center;
          border-radius: 40%;
        }
        & .letterPickBad{
          cursor:pointer;
          background-color: #c60000B0;
          font-size: 2rem;
          @media screen and (min-width:0px)  {
            margin:0.8rem;
            padding:0.8rem;
            height:2rem;
            width:1.5rem;
          }
          @media screen and (min-width:800px)  {
            margin:0.8rem;
            padding:0.8rem;
            height:2rem;
            width:1.5rem;
          }
          @media screen and (min-width:1245px)  {
            margin:1rem;
            padding:1rem;
            height:2rem;
            width:2rem;
          }
          text-align: center;
          border-radius: 40%;
        }
      }
      & article{
        margin:0 auto;
        margin-top:2rem;
        width:90%;
        @media screen and (min-width:0px)  {
          height:20rem;
        }
        @media screen and (min-width:836px)  {
          height:13rem;
        }
        @media screen and (min-width:975px)  {
          height:18rem;
        }
        @media screen and (min-width:1245px)  {
          height:15rem;
        }
        @media screen and (min-width:1600px)  {
          height:21rem;
        }
        border-radius: 5%;
        background-color: #38474E90;
        & h3{
          padding-left:2rem;
          padding-top:1rem;
          font-size: 1.3rem;
        }
        & p{
          padding-left:1rem;
          padding-top:0.5rem;
          font-size: 1rem;
        }
      }
    }
  }
  & footer {
    font-size:0.7rem ;
    color:white;
    text-align: center;
    position:fixed;
    bottom:1rem;
    width:100%;
    & a{
      color:white;
      background-color: #E0E0E060;
      border-radius: 50%;
      padding:0.5rem;
    }
  }

}